@model IEnumerable<Grand_Hall.Models.Hall>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="AddHall">ADD HALL</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.HallsID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.HallsName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacity)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                Image
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.HallsID)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.HallsName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capacity)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    <!-- Display Image -->
                    <img src="~/Images/@item.ImagePath" alt="Hall Image" style="width: 100px; height: auto;" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "EditHall", new { id = item.HallsID }) |
                    @Html.ActionLink("Details", "Details", new { id = item.HallsID }) |
                    @Html.ActionLink("Delete", "DeleteHall", new { id = item.HallsID })
                </td>
            </tr>
        }
    </tbody>
</table>
